# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files with LF line endings
*.sh text eol=lf
eas-build-pre-install.sh text eol=lf

# Declare files that will always have CRLF line endings
*.bat text eol=crlf
*.cmd text eol=crlf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text 